<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h2 class="title">Medical record of {{patient?.name}} {{patient?.surname}} </h2>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <hr class = "zig-zag">
                                <p style="color:rgb(243, 94, 94);font-size:40px;" >Patient information:</p> 
                                <div>
                                     <img class="card image" width="10%" height="50%" :src="data:image/png;base64,{{patient?.picture}}"> 
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input  readonly type="text" class="form-control"  placeholder="Name" value="{{patient?.name}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input  readonly type="text" class="form-control" placeholder="Last name" value="{{patient?.surname}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Username</label>
                                        <input  readonly type="text" class="form-control" placeholder="{{patient?.username}}">
                                    </div>
                                </div>
                            </div>

                        

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input readonly  type="text" class="form-control" placeholder="Home Address" value="{{patient?.address}}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input readonly  type="text" class="form-control" placeholder="City" value="{{patient?.city}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input readonly  type="text" class="form-control" placeholder="Country" value="{{patient?.country}}">
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date of birth</label>
                                        <input readonly  type="number" class="form-control" placeholder="{{patient?.birthDate| date: 'dd/MM/yyyy'}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input readonly  type="number" class="form-control" placeholder="{{patient?.phone}}">
                                    </div>
                                </div>
                            </div>
                            
                            <hr class = "zig-zag">
                            <p style="color:rgb(243, 94, 94);font-size:40px;" >Basic health information and <br>vital signs of patient:</p>
                       
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>UMCN</label>
                                        <input readonly  type="number" class="form-control" placeholder="{{patient?.jmbg}}" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Blood type</label>
                                        <input readonly  type="text" class="form-control" placeholder="Bloodtype" value="B">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rh Factor</label>
                                        <input readonly  type="text" class="form-control" placeholder="RhFactor" value="negative">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>HEIGHT (cm)</label>
                                        <input readonly  type="number" class="form-control" placeholder="{{patient?.height}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Weight (kg)</label>
                                        <input readonly  type="number" class="form-control" placeholder="{{patient?.weight}}">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <input readonly  type="text" class="form-control" placeholder="Gender" value="Male">
                                    </div>
                                </div>
                            </div>
                            
                            
                            <hr class = "zig-zag">
                            
                            
                            
                            <div class="row">
                                <div class="card">
                                    <div class="header">
                                        <h2 class="title">Awaiting appointments</h2>
                                    </div>
                                    <div class="content">
                                        <div class="content table-responsive table-full-width">
                                            <table class="table">
                                              <thead>
                                                  <tr>
                                                    <th class="text-center">Date</th>
                                                    <th class="text-center">Doctor</th>
                                                  </tr>
                                              </thead>
                                            <tbody>
                                                <ng-container *ngFor="let all of awaitingAppoints">
                                                    <tr>
                                                        <td class="text-center">{{all.startTime| date: 'dd/MM/yyyy'}}</td>
                                                        <td class="text-center">{{all.doctor?.name}}  {{all.doctor?.surname}}</td>
                                                       <!---- <td class="text-center"><button class="btn btn-danger btn-sm" (click) = "cancelAppointment(all)">Reject</button></td> --->
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                            </table>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="card">
                                    <div class="header">
                                        <h2 class="title">Completed appointments</h2>
                                    </div>
                                    <div class="content">
                                        <div class="content table-responsive table-full-width">
                                            <table class="table">
                                              <thead>
                                                  <tr>
                                                    <th class="text-center">Date</th>
                                                    <th class="text-center">Doctor</th>
                                                  </tr>
                                              </thead>
                                            <tbody>
                                                <ng-container *ngFor="let all of completedAppoints">
                                                    <tr>
                                                        <td class="text-center">{{all.startTime| date: 'dd/MM/yyyy'}} {{all.startTime| date: "HH:mm:ss"}}</td>
                                                        <td class="text-center">{{all.doctor.name}} {{all.doctor.surname}}</td>
                                                        <td><a role="button" href="/patient/takesurvey" class="btn btn-outline-success">Take survey</a></td>
                                                        <td><button (click)="openPrescriptionDialog(all)" class="btn btn-outline-success">Prescription</button></td>
                                                        <td><button (click)="openReportDialog(all)" class="btn btn-outline-success">Report</button></td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                            </table>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="card">
                                    <div class="header">
                                        <h2 class="title">Cancelled appointments</h2>
                                    </div>
                                    <div class="content">
                                        <div class="content table-responsive table-full-width">
                                            <table class="table">
                                              <thead>
                                                  <tr>
                                                    <th class="text-center">Date</th>
                                                    <th class="text-center">Doctor</th>
                                                  </tr>
                                              </thead>
                                            <tbody>
                                                <ng-container *ngFor="let all of cancelledAppoints">
                                                    <tr>
                                                        <td class="text-center">{{all.startTime| date: 'dd/MM/yyyy'}}</td>
                                                        <td class="text-center">{{all.doctor.name}} {{all.doctor.surname}}</td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                            </table>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-4" style=" position: fixed;right:0; width: 29%;">
                <div class="card ">
                    <div class="header">
                        <h2 class="title">Allergies</h2>
                    </div>
                    <div class="content">
                        <div class="content table-responsive table-full-width">
                            <table class="table">
                              <thead>
                                  <tr>
                                    <th class="text-center">#</th>
                                    <th>Allergy</th>
                                  </tr>
                              </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Food Allergy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Medicine Allergy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>Polen Allergy</td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                    </div>
                    <hr>
                    <div  class="text-center">
                        <h4 style="color: rgb(22, 18, 18);">Assigned doctor: Nikola Slavnic</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


