<!-- header section starts  -->
<div>
    <app-navigation-bar>
    </app-navigation-bar>
</div>
<!-- header section ends  -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="container">

        <div class="row min-vh-100 align-items-center text-center text-md-left">

            <div class="col-md-6 pr-md-5">
                <img src="/assets/img/img_landing/Doctors-pana.svg" width="100%" alt="">
            </div>

            <div class="col-md-6 pl-md-5 content">
                <h1><span>stay</span> safe, <span>stay</span> healthy.</h1>
                <h3>caring for you.</h3>
            </div>

        </div>

    </div>
    
</section>


<!-- home section ends -->
<section>
  <ngb-carousel class="carousel-container">
    <ng-template ngbSlide *ngFor="let ad of Ads">
      <div class="picsum-img-wrapper">
        <img class="carousel-image" [src]="defaultImageUrl" alt="Random first slide">
      </div>
      <div class="carousel-caption crsl-background" style="top:40%; bottom: auto">
        <h3>Apoteka: {{ad.pharmacyName}}</h3>
        <h2><b>{{ad.title}}</b></h2>
        <p>{{ad.content}}</p>
      </div>
    </ng-template>

    <!-- <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="carousel-image" [src]="defaultImageUrl" alt="Random first slide">
      </div>
      <div class="carousel-caption crsl-background">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="carousel-image" [src]="defaultImageUrl" alt="Random second slide">
      </div>
      <div class="carousel-caption crsl-background">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper crsl-background">
        <img class="carousel-image" [src]="defaultImageUrl" alt="Random third slide">
      </div>
      <div class="carousel-caption crsl-background">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template> -->
  </ngb-carousel>
</section>
<!-- about section start  -->

<section class="about" id="about">

    <div class="container">

        <div class="row min-vh-100 align-items-center">

            <div class="col-md-6 content">

                <div class="box">

                    <h3> ambulance services </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                </div>

                <div class="box">

                    <h3> emergency rooms </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                </div>

                <div class="box">
                    <h3> free check-ups </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                </div>

            </div>

            <div class="col-md-6 d-none d-md-block">
                <img src="/assets/img/img_landing/about.png" width="100%" alt="">
            </div>

        </div>

    </div>

</section>

<!-- about section ends -->

<!-- feedback section starts  -->
<section class="feedback" id="feedback">
    <div class="card text-center ">
        <h1>User feedbacks</h1>
    </div>
    <div class="d-flex p-2">
        <div class="row row-cols-1 row-cols-lg-6 g-4 justify-content-center" *ngIf='feedbacks.length > 0'>
            <div class="col">
              <div class="card h-100">
                
                <div class="card-body">
                  <h5 class="card-title">{{feedbacks[0].personName}}</h5>
                  <h5 class="card-title" *ngif="!feedbacks[0]">Name</h5>
                  <p class="card-text" >{{feedbacks[0].text}}</p>
                  <p class="card-text" *ngif="!feedbacks[0]" >Feedback</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">{{feedbacks[0].date| date: 'dd/MM/yyyy'}}</small>
                  <small class="text-muted" *ngif="!feedbacks[0]">Date</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                
                <div class="card-body">
                  <h5 class="card-title">{{feedbacks[1].personName}}</h5>
                  <h5 class="card-title" *ngif="!feedbacks[1]">Name</h5>
                  <p class="card-text" >{{feedbacks[1].text}}</p>
                  <p class="card-text" *ngif="!feedbacks[1]" >Feedback</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">{{feedbacks[1].date| date: 'dd/MM/yyyy'}}</small>
                  <small class="text-muted" *ngif="!feedbacks[1]">Date</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                
                <div class="card-body">
                  <h5 class="card-title">{{feedbacks[2].personName}}</h5>
                  <h5 class="card-title" *ngif="!feedbacks[2]">Name</h5>
                  <p class="card-text" >{{feedbacks[2].text}}</p>
                  <p class="card-text" *ngif="!feedbacks[2]" >Feedback</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">{{feedbacks[2].date| date: 'dd/MM/yyyy'}}</small>
                  <small class="text-muted" *ngif="!feedbacks[2]">Date</small>
                </div>
              </div>
            </div>
          </div>

    </div>
</section>
<!-- feedback section ends  -->

<!-- footer section starts  -->

<section class="footer">

    <div class="d-flex justify-content-center">
        <h3 class="text-center">created by <span>Firma 6 devs</span> all rights reserved.</h3>
    </div>
</section>

<!-- footer section ends -->