*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
  } 
  nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: rgb(223, 56, 56);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    z-index: 300;
  }
  nav .logo-left{
    justify-content: space-between;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin-left: 85px;
    margin-top:10px;
    padding: 8px 15px;
  }
  nav .logo-img{
    margin-right:30px;
    padding: 8px 15px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 80%;
  }
  nav ul li{
    margin:0px 5x;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
      margin-right: 50px;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    
  }
  