body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background: rgb(223, 56, 56);
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 1550px) {
    .register-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 1068px){
    .main{
        margin-left: 50%; 
    }

    .sidenav{
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .register-form{
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .register-form{
        margin-top: 20%;
        margin-bottom: 20%;
    }
}


.register-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.register-main-text h2{
    font-weight: 300;
}

.btn-black{
    background: rgb(223, 56, 56) !important;
    color: #fff;
}

.blue{
    background: rgb(125, 238, 72) !important;
    color: #fff;
}

.table{
    box-sizing: border-box;
}

.disabled-button{
    background-color:lightgrey;
}

.zig-zag 
{ border: none;
     width: 100%; 
     margin: auto;
     margin-top: 5%; 
     margin-bottom: 5%; 
     height: 40px; 
     background: linear-gradient(135deg, #ffffff 25%, transparent 0%) -20px 0, 
                 linear-gradient(225deg, #ffffff 25%, transparent 0%) -20px 0, 
                 linear-gradient(315deg, #ffffff 25%, transparent 0%), 
                 linear-gradient(45deg, #ffffff 25%, transparent 0%); 
     background-size: 40px 40px; 
     background-color: #EC173A;
}

