
<div class="sidenav">
    <div class="register-main-text">
      
        <h1>Beyond Care<br>Login</h1>
       <p>Login from here to access.</p>
       
       <div class="logo-img">
           <img src="/assets/img/nav-logo.png" />
       </div>

    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="register-form">
          <form [formGroup]="loginForm" novalidate>
             <hr class = "zig-zag">
             <p style="color:rgb(243, 94, 94);font-size:40px;" >Enter login info:</p> 
           
        
             <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="username" id="username" ng-model="username" required/>
                
                <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" 
                     class="alert alert-danger" role="alert">
            
                  <div *ngIf="loginForm.controls['username'].errors.required">
                     Please, enter your username!
                  </div>

               </div>
             </div>

             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
                
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" 
                     class="alert alert-danger" role="alert">
                  
                  <div *ngIf="loginForm.controls['password'].errors.required">
                     Please, enter password!
                  </div>
                </div>

             </div>
             
             <hr class = "zig-zag">

             <button class="btn blue" (click)="login()">Log in</button>

          </form>
       </div>
    </div>
 </div>

  
 