<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>

  <div *ngIf="title == 'Report'; else other_content">
  <p>Appointment time: {{appointments.startTime | date:'medium'}}</p>
  <p>Doctor Name: {{appointments.doctor.name}} {{appointments.doctor.surname}}</p>
  <p>Patient Name: {{appointments.patient.name}} {{appointments.patient.surname}}</p>
  <p>Diagnosis: {{appointments.doctorReport}}</p>
</div>

<ng-template #other_content>
  <p>Medicine Name: {{appointments.prescription.medicineName}}</p>
  <p>Pharmacy Name: {{appointments.prescription.pharmacyName}}</p>
  <p>Quantity: {{appointments.prescription.dosage.quantity}}</p>
  <p>Recommended Dose: {{appointments.prescription.dosage.recommendedDose}}</p><br>
  <p>By doctor: <u>{{appointments.prescription.doctorName}}</u></p>
 </ng-template>

  
</div>
<div mat-dialog-actions>
  <button  mat-button (click)="onNoClick()">Okay</button>
</div>